---
title: Cyrillic
layout: default
description: Write English like Russian. Цйриллиц!
header-img: "my_img/cyrillic-bg-1.png"
permalink: /cyrillic.html
---

<script type="text/javascript">
/*
    ■　　　■　■■■■■　■■■■■　■■■■　　　　■■■■■　■　　　■　■■■　■　　　■　■　　　■　■■■　■　　　■　　■■■■　■
    ■　　■　　■　　　　　■　　　　　■　　　■　　　　　■　　　■　　　■　　■　　■■　　■　■　　■　　　■　　■■　　■　■　　　　　■
    ■■■　　　■■■　　　■■■　　　■■■■　　　　　　■　　　■■■■■　　■　　■　■　■　■■■　　　　■　　■　■　■　■　　■■　■
    ■　　■　　■　　　　　■　　　　　■　　　　　　　　　■　　　■　　　■　　■　　■　　■■　■　　■　　　■　　■　　■■　■　　　■　■
    ■　　　■　■　　　　　■　　　　　■　　　　　　　　　■　　　■　　　■　　■　　■　　　■　■　　　■　　■　　■　　　■　■　　　■　■
    ■　　　■　■　　　　　■　　　　　■　　　　　　　　　■　　　■　　　■　　■　　■　　　■　■　　　■　　■　　■　　　■　■　　　■　　
    ■　　　■　■■■■■　■■■■■　■　　　　　　　　　■　　　■　　　■　■■■　■　　　■　■　　　■　■■■　■　　　■　　■■■　　■
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWNNNNNNXXXXXXXXXXXXNNNNNNWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWNNNXXKKK0000000OOOOOOOOOOOOOOOO0000000KKKXXXNNWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWNNXXKK00OOOOOOOOOOOOOOO0000000000000OOOOOOOOOOOOOOOO000KXXNNWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWNXXK00OOOOOOOOOOO00000000000KKKKKKKKKKKKKKK000000000OOOOOOOOOOOO00KKXNWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWNNXK0OOOkOOOOOO0000000KKKKKKKKKXXXXXXXXXXXXXXXXXXKKKKKKKKK0000000OOOOOkkkOO0KXXNWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNXK00OOkkkOOOOO000000KKKKKXXXXNNNNNNWWWWWWWWWWWWWWWNNNNNNNNXXXXKKKKK000000OOOOkkkkOO0KXNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWNXK0OkkkkOOOO00000KKKKXXXNNNNWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWNNNNXXXKKK00000OOOOkkkkOO0XNWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWXK0OkkkkOOOOO0000KKKXXNNNWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWNNNXXKK0000OOOOOkkkkO0KXNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWNK0OkkkkkOOO0000KKXXXNNWWWWWMMMWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWWWNNXXKK000OOOOOkkkkk0KXNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNK0OkkkkkOOOO000KKXNNNWWWWWWWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWWWWWWWWWWWWWWWNNXXKK000OOOkkkkkO0KNWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNX0OkkkkkOOOO000KXXNNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWMMMMMMMMMMMMMMMWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNXKK000OOOkkkkkO0XNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNKOkkkkkOOOO000KXXNNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNXKK00OOOkkkkkkOKNWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXKOkkkkkOOOO00KKXNNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNXK00OOOOkkkkkO0XNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWX0OkxkkkOOOO00KXXNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNXKK00OOOkkkxkk0XNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWX0OkxkkkOOOO00KXNNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNXXK00OOOkkkxxk0XWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXKOxxkkkkOOO0KKXNNWWWWWWWNNNNXXXXXXXXXXNNNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNNXK00OOOkkxxxk0XWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMWNKOkxxkkkOOO00KXNNNWWNNNNXK0OkxdooollooodxkO0KXNNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNNNNXK00OOkkkxxxOKNWMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMWXOkxxkkkOOO00KXNNNNNNNXK0kdlc:,,'''''''''',,;:ldk0XNNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNNNNNXXK0OOOkkkxxkOKNWMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMWX0kxxxkkOOOO0KXXNNNNNXKOxl:;''....''''''''''....',;cok0XNNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNNNNNNNNNXKK0OOOkkkxxk0XWMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMNXOkxxkkkOOO0KKXNNNNNX0ko:,'...',;:cloodddddolc:;,''.'';lx0XNNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNNNNNNNNNNNXXK0OOOkkkxxxOKNWMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMWNKkxxxkkkOOO0KXXXNNNXKOd:,..',;coxk0KXXNNNNNNXXKK0kxoc;''';lkKNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXK0OOkkkxxxk0XWMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMWX0kxxxkkkOO00KXXXXXNNXOo;'.';cdOKXNNWWWWWWWWWWWWWWWNNXKOxl:,;lkXNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNNNNXXXKKKKK0000000000KKKXXXXNNNNNNNNNNXXXXXXK0OOOkkkxxxOXWMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMWKOxxxxkkkOO0KKXXXXXNNNX0o:,:okKXNNWWWWNNNNNNNNNNNWWWWWWWNNX0kxk0NWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNNNXK0Okxddoolllccc:::::ccclloodxkO0KXXXNNNNNXXXXXXK00OOkkkxxxOKNMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMNKOxxxxkkkOO0KKXXXXXXXNNNX0Ok0XNNNNNNNNNNNNNNNNNNNNNNNNNNNWWWNNNNNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWNNX0xoc;;,''''''...............'',,;cldk0XXNXXXXXXXXXKK0OOkkkxxxk0NWMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMWNKkxxxxkkkOO0KKXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN0d:'.....'''',,,;;;:::::::::::;;;;;;:lkKXXXXXXXXXXXXKK0Okkkkxxxk0NWMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMN0kxxxxkkkOO0KKXXXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNXXKOkddodxO0XNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXkoc::cccloodxxkOO000KKKKKKK000000OOkO0XXXXXXXXXXXXXKKK0Okkkkxxxk0NWMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMWNKkxxxxkkkOO0KKKKXXXXXXXXXXXXXXXNNNNNNNNNNNNNNNNXK0xo:;,''',:lx0XNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXKKKKKKXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXXXXXXXXXXKKKK0Okkkxxxdk0NWMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMWNKkxdxxkkkOO0KKKKKKXXXXXXXXXXXXXXXXXNNNNNNNNNNNNX0xl;'..'''...':dOXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXXXXNNNNNNNNNNNNNNNNNNNNNNXXXXXXXXXXXXXXXKKKKK00Okkkxxddk0NWMMMMMMMMMMMMMM
MMMMMMMMMMMMMMNKkxdxxkkkOO00KKKKKKKXXXXXXXXXXXXXXXXXXXNNNNNNNXX0d:,''',,,,,,''':d0XNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXK0kxdoddxOKXXNNNNNNNNNNNNXXXXXXXXXXXXXXXXXXXKKKKKKKK0OOkkkxxddk0NWMMMMMMMMMMMMM
MMMMMMMMMMMMMWKkxdxxkkkkOO0KKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXNXXX0d:,'',;;;;;;;,,',ckKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNX0koc;,,'',;:ok0XXNNNNNXXXXXXXXXXXXXXXXXXXXXXKKKKKKKKKK00OOkkkxxdxkKWMMMMMMMMMMMMM
MMMMMMMMMMMMWXOxdxxxkkkOO00KKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXKkc,',,;;::::::;,,,:xKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXKOo:,'''''''.',cd0XXXXXXXXXXXXXXXXXXXXXXXXXXKKKKKKKKKKKK000OkkkxxddxOXWMMMMMMMMMMMM
MMMMMMMMMMMWN0xddxxxkkkO0000KKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXX0d:,,,;::::::::;;,,:xKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXKkl;''',,,,,,,'',cx0XXXXXXXXXXXXXXXXXXXXXXKKKKKKKKKKKKKK0000OOkkxxxddxOXWMMMMMMMMMMM
MMMMMMMMMMMWKkdddxxkkkOO00000KKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXKOo;,,;;:::cc:::;;,;ckKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXKOo;'',,;;;;;;;,'';oOKXXXXXXXXXXXXXXXXXXXKKKKKKKKKKKKKKKK00000OkkkxxxddkKNMMMMMMMMMMM
MMMMMMMMMMWXOxddxxxkkkOO0000000KKKKKKKKKKKKKKXXXXXXXXXXXXXXXXOd;,,;::::cc:::;;,:o0XNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNX0d:,',;;::::::;;,,;lkKXXXXXXXXXXXXXXXXKKKKKKKKKKKKKKKKK0000000OOkkxxxdddOXWMMMMMMMMMM
MMMMMMMMMMNKkdddxxxkkOO000000000KKKKKKKKKKKKKKKKXXXXXXXXXXXXXKxc;,;:::::::::;;:oOKNNXXXXXXXNNNNNNNNNNNNNNNNNNXXXXXXOo;,,;;::::::::;;,;lkKXXXXXXXXXXXXXKKKKKKKKKKKKKKKKKKK00000000OOkkkxxdddx0NWMMMMMMMMM
MMMMMMMMMWXOddddxxxkkOO0000000000KKKKKKKKKKKKKKKKKKXXXXXXXXXXXOd:;;;::::::;;;:oOXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKkl;,,;:::ccc:::;;,:oOKXXXXXXXXXXXKKKKKKKKKKKKKKKKKK00000000000OOOkkxxddddkXWMMMMMMMMM
MMMMMMMMMNKkdddxxxkkkOOO0000000000KKKKKKKKKKKKKKKKKKKKXXXXXXXXK0dc;;;;;;;;;:lx0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXOo;,;;:::ccc:::;,;cx0XXXXXXXKXKKKKKKKKKKKKKKKKKKKK00000000000OOOOkkxxxdddx0NWMMMMMMMM
MMMMMMMMWXOxdddxxxkkkOOOO00000000000KKKKKKKKKKKKKKKKKKKKKXXXXXXXKOdlc:::cldk0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0dc,,;::::::::;;;:dOKXXXXXKKKKKKKKKKKKKKKKKKKKKKK000000000000OOOOkkxxxddodkXWMMMMMMMM
MMMMMMMMWKkdoddxxxkkkOOOO0000000000000KKKKKKKKKKKKKKKKKKKKKKXXXXXXK0OOkOO0KXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKOo:;;;::::::;;;cdOKXXKKKKKKKKKKKKKKKKKKKKKKKK00000000000000OOOOOkkxxxddddxKWMMMMMMMM
MMMMMMMMN0xdoddxxxkkkOOOOO00000000000000KKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKOdc;;;;;;;;;:lx0XXXKKKKKKKKKKKKKKKKKKKKKKKK00000000000000OOOOOOkkxxxdddod0NWMMMMMMM
MMMMMMMWNOdooddxxxkkkOOOOO0000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0kdlc:::cldk0KXXKKKKKKKKKKKKKKKKKKKKKKKK0000000000000000OOOOOkkkxxxdddodkXWMMMMMMM
MMMMMMMWXkdooddxxxkkkOOOOOO0000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXK0OkkOO0KXXXKKKKKKKKKKKKKKKKKKKKKKKK00000000000000000OOOOOOkkkxxxdddookKWMMMMMMM
MMMMMMMWKkoooddxxxkkkkOOOOOO00000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXKKKKKKKKKXXXXXXXXXXXKKKKKKKKKKKKKKKKKKKKKKKKKK00000000000000000OOOOOOOkkkxxxdddooxKNMMMMMMM
MMMMMMMWKxoooddxxxkkkkOOOOOOO000000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK000000000000000000OOOOOOOkkkkxxxddooox0NMMMMMMM
MMMMMMMN0xoooddxxxkkkkkOOOOOOO0000000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK000000000000000000OOOOOOOOkkkkxxxddooodONMMMMMMM
MMMMMMMN0xooodddxxxkkkkOOOOOOO00000000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK000000000000000000000OOOOOOOOkkkkxxxddooodONMMMMMMM
MMMMMMMN0xooodddxxxkkkkOOOOOOO000000000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK00000000000000000000OOOOOOOOOkkkxxxxddooodONMMMMMMM
MMMMMMMN0xooodddxxxkkkkkOOOOOOO000000000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK000000000000000000000OOOOOOOOkkkkxxxdddooodONMMMMMMM
MMMMMMMN0xoooodddxxxkkkkOOOOOOO0000000000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK000000000000000000000OOOOOOOOkkkkxxxdddooox0NMMMMMMM
MMMMMMMWKxoooodddxxxkkkkOOOOOOOO00000000000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0000000000000000000000OOOOOOOOkkkkxxxxddoooox0NMMMMMMM
MMMMMMMWKkoloodddxxxxkkkkOOOOOOOO00000000000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK00000000000000000000000OOOOOOOOkkkkkxxxdddooooxKWMMMMMMM
MMMMMMMWXkoloooddxxxxkkkkkOOOOOOO0000000000000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0000000000000000000000000OOOOOOOOkkkkxxxxdddoolokKWMMMMMMM
MMMMMMMMN0doooodddxxxkkkkkOOOOOOOO00000000000000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0000000000000000000000000OOOOOOOOkkkkkxxxdddoooloOXWMMMMMMM
MMMMMMMMWKxoloooddxxxxkkkkkOOOOOOOO0000000000000000000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK00000000000000000000000000OOOOOOOOOkkkkxxxxdddooood0NMMMMMMMM
MMMMMMMMWXkolloodddxxxxkkkkkOOOOOOOO000000000000000000000000000K00KKKKKKKKKKKKK0000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0000000000000000000000000OOOOOOOOOOkkkkkxxxdddoooloxKWMMMMMMMM
MMMMMMMMMN0dllooodddxxxkkkkkOOOOOOOOO0OOOOOOOOOO00000000000000000KK00K0000OOOkkkxxxxxxxxxxxxkkkkOOOO0000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKK000000000000000000000000000OOOOOOOOOkkkkkxxxxdddoolldOXWMMMMMMMM
MMMMMMMMMWKkolloodddxxxxkkkkkOOOOOOOOOOOkkkkkkkkkOOO0000000000000K00K00Oxdlcc:::::;;;;;:::::::::cclllooddxkkOO00000KKKKKKKKKKKKKKKKKKKKK0000000000000000000000000OOOOOOOOOOkkkkkxxxxdddoooloxKNMMMMMMMMM
MMMMMMMMMWNOdllooodddxxxxkkkkkkOOOOOOOkkkO000OkxxxxkO000000000000000K00koc;;:ccloooddddooooolllcc:::;;;;;;::clodxxkOO00000KKKKKKKKKK000000000000000000000000000OOOOOOOOOOOkkkkkkxxxdddooolldkXWMMMMMMMMM
MMMMMMMMMMWKkollooodddxxxxkkkkkkOOOOOOkkkO0KXK0kxdddxOO0000000000000KK00OkkkO00KKKKKKKKKKKKKKKK000OOkkxdolcc:;;;;::lodxkOO00000K00000000000000000000000000000OOOOOOOOOOOOkkkkkkxxxxdddooolox0NMMMMMMMMMM
MMMMMMMMMMWN0dlllooddddxxxkkkkkkkOOOOkkkkO0KXKK0kxoodxOO00000000000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK00Okxdlc:;;;;:cldk00000000000000000000000000000000OOOOOOOOOOOOkkkkkkxxxxdddooolldOXWMMMMMMMMMM
MMMMMMMMMMMWXkolloooddddxxxkkkkkkOOOOkkxkO0KKKK0OkdoldkO00000000000000000000000000KKKK0KKKKKKKKKKKKKKKKKKKKKKKKKK0Okxol:;;cdO000000000000000000000000000000OOOOOOOOOOOkkkkkkkxxxxdddooollokKWMMMMMMMMMMM
MMMMMMMMMMMMWKxolloooddddxxxkkkkkkkkkkkxxkO0KKK0OkxoloxkO00000000000000000000000000000000000000KKKKKKKKK00KKKKKKKKKKKK0OkxkO00000000000000000000000000000OOOOOOOOOOOOkkkkkkkxxxxdddooolllx0NMMMMMMMMMMMM
MMMMMMMMMMMMWN0dolloooddddxxxxkkkkkkkkkxxkO0KKKK0kxolodkO000000000000000000000000000000000000000000000000000000000000KKKKKKK00000000000000000000000000OOOOOOOOOOOOOOkkkkkkkxxxxdddooollldONWMMMMMMMMMMMM
MMMMMMMMMMMMMWXOdllloooddddxxxxkkkkkkkkxxkO0KKKK0kxolldkO0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000OOOOOOOOOOOOOOOkkkkkkxxxxxdddooollldOXWMMMMMMMMMMMMM
MMMMMMMMMMMMMMWXOdllloooddddxxxxkkkkkkkxxkO0KXKK0kxocldkOO0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000OOOOOOOOOOOOOOkkkkkkkkxxxxxdddooolllokKWMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMWXkollloooddddxxxxkkkkkxxxk0KXXXK0OxlcloxkOO000000000000000000000000000000000000000000000OOOOOOOOOOOOO0000000000000000000000000OOOOOOOOOOOOOOOOOkkkkkkkkxxxxddddooolllokKWMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMWXkollloooodddxxxxxkkxxxkO0KXXXXK0xocloxkOOO000000000000000000000000000000000000OOOOOkkkxxxxxxxxxxxkkkkOO00000000000000000000OOOOOOOOOOOOOOOOkkkkkkkkxxxxxddddooollloxKWMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMWXkolllooooddddxxxxxxxxkOKXXNXXXKOxolodkOOOOOO00000000000000000000000000OOOOOkkkkkxxxkkkkkOOO000OOkxxxxkOO000000000000000OOOOOOOOOOOOOOOOOkkkkkkkkkxxxxxdddoooolllokKWMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMWXOdlllloooddddxxxxxxxO0KXNNNNXXKOxoodxkOOOOOOOOO000000000000000OOOOOOkkkkkkkOOOO000KKKKKXXXXXKK0OkxddxkOO000000000OOOOOOOOOOOOOOOOOOOOkkkkkkkkkxxxxxddddoooolllokKWMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMWXOdllllooooddddxxxxkO0XXNNNNNNXK0kxdxxkkOOOOOOOOOOOOOOOOOOOOOOkkOOOOO0000KKKXXXXXXXXKKKKK000OOkkxddxkOOOO000OOOOOOOOOOOOOOOOOOOOOOkkkkkkkkkkxxxxxxddddoooollldkXWMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMWN0xollloooodddddxxk0KXNNNNNNNNXXKOkkxxxkkkkkkkkkkkkkkkOOOOOO000KKKXXXXXXXXKKKKK0000OOOOkkxxxddoodxkkOOOOOOOOOOOOOOOOOOOOOOOOOOOkkkkkkkkkkxxxxxxddddoooolllldOXWMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMWNKkolllloooodddxkO0KXNNNNNNNNNXXKK00OOOOOOOOOOO00000KKKKXXXXXXXXXXXXKKK0000OOOkkkxxddoollllllodxkOOOOOOOOOOOOOOOOOOOOOOOOOOOkkkkkkkkkkxxxxxxdddddoooolllox0NWMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMWXOdllllooooddxk0KXXNNNNNNNNNNNNXXXXXXXKKXXXXXXXXXXXXXXXXXXXXKKKK000OOOkkxxdooolccc::ccclodxxkOOOOOOOOOOOOOOOOOOOOOOOOkkkkkkkkkkkkkxxxxxxdddddoooolllldkKWMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMWN0xolllloodxkO0KKXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXXXKKK000OOOkkxdoolc::;;;;::ccloodxkkkOOOOOOOOOOOOOOOOOOOOOOOOkkkkkkkkkkkkkxxxxxxdddddooooolllox0NWMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMWXOdllllodxkO0KKXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNXXXXXXKK00OOkkxddlc:;;,,,,;;::cllodxxkkOOOOOOOOOOOOOOOOOOOOOOOOOkkkkkkkkkkkkkxxxxxxxdddddooooolllldkKWMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMWNKkollodkO00KKKKXXXXXXXXNNNNNNNNNXXXXXXXXXXXXXXXXKKK0Okxxol:;,'''',,;:clllodxxkkOOOOOOOOOOOOOOOOOOOOOkkkkkkkkkkkkkkkkkkxxxxxxxddddddoooollllox0NWMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMWN0xddxkO00KKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKK00kxdol:;'''',;:cloddxxkkkOOOOOOOOOOOOOOOOOOOkkkkkkkkkkkkkkkkkkkkxxxxxxxddddddooooollloxOXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXOxxkO00KKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXKKKKKKKK0OOkxddoc;,;:clodxxxkkkkkOkkkOOkkkkkkkkkkkkkkkkkkkkkkkkkkkkkxxxxxxxxdddddddoooolllloxOXWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNKOkkO000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK000OOkxxol::clodxxkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkxxxxxxxxdddddddooooollllodOXNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNKOkkOO000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0000OOkxdlcclodxxkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkxxxxxxxxxxdddddddooooolllloxOKNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNKkxkOO00000KKKKKKKKKKKKKKKKKKKKKKKKKK00000000000000OOkxxolcclodxxkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkxxxxxxxxxxxddddddddoooooollllox0XWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNKkxkOO0000000000000000000000000000000000000000000OOkkxdlc;:clodxxkkkkkkkkkkkkkkkkkkkkkkkkkxxxxxxxxxxxxxdddddddddoooooollllodkKNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNKkxkkOO0000000000000000000000000000000000000000OOOkkxdoc:;;:codxxxxkkkkkkkkkkkkkkkxxxxxxxxxxxxxxxxxxdddddddddoooooollllloxOXNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXOxxkOOO000000000000000000000000000000000OOOOOOOOOOkkxdolc::clddxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxddddddddddooooooollllloxOKNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWX0xxkkOOOOO000000000000000000000000OOOOOOOOOOOOOOOOOOkkxdoc:clodxxxxxxxxxxxxxxxxxxxxxxxxdddddddddddddooooooolllllooxOKNWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNKkxxkkOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOkkxxolcclodddxxxxxxxxxxxxxxddddddddddddddddoooooooollllllodkOKNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXOxxxkkkOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOkkkkxxdlccclodddddddddddddddddddddddddddooooooooolllllllodxO0XNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWKOxxxkkkkkOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOkkkkkkkkxxdoc:::clooodddddddddddddddooooooooooooolllllllloodxO0XNWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNKkxxxxkkkkkkkkkkkkkkkkkkOOOOOOkkkkOkkkkkkkkkkkkxxdol:;;;:clloooooooooooooooooooooollllllllllloodxk0KXNWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNKkxxxxxkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkxxxdoc:;;:cclllllllllllllllllllllllllllloddxkO0KXNWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNXOxddxxxxxkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkxxdolc:ccclllllllllllllllloooodddxkOO0KXNNWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNKkxxdxxxxxxxxxxxxxxxxkkkkkkkkkkkkkkkkkkkkkkxxxxkOOOOkkkkkkkkkkkkkkkOOO00KKKXXNNWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNKOkxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxk0KNWWWWWWWWWWWWWWWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNXK0OOkxxxxxddddddddddddddddddxxxxxkkOO0KXNWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWNNXXKK000OOOOOkkkkkOOOOO00KKKXXNNWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWNNNNNNNNNWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
WMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
*/
	function disp_translate()
	//翻译
	{
	var x = document.getElementById("in").value;
	y = x;
	if (document.getElementById("mode1").checked) //English >> Cyrillic
		{
        y = y.replace(/EE/g, "Ё");
        y = y.replace(/Ee/g, "Ё");
        y = y.replace(/SS/g, "Ш");
        y = y.replace(/Ss/g, "Ш");
        y = y.replace(/AR/g, "Я");
        y = y.replace(/Ar/g, "Я");
        y = y.replace(/CH/g, "Ч");
        y = y.replace(/Ch/g, "Ч");
        y = y.replace(/A/g, "А");
        y = y.replace(/B/g, "Б");
        y = y.replace(/C/g, "Ц");
        y = y.replace(/D/g, "Д");
        y = y.replace(/E/g, "Е");
        y = y.replace(/F/g, "Ф");
        y = y.replace(/G/g, "Г");
        y = y.replace(/H/g, "Х");
        y = y.replace(/I/g, "И");
        y = y.replace(/J/g, "Ж");
        y = y.replace(/K/g, "К");
        y = y.replace(/L/g, "Л");
        y = y.replace(/M/g, "М");
        y = y.replace(/N/g, "Н");
        y = y.replace(/O/g, "О");
        y = y.replace(/P/g, "П");
        y = y.replace(/Q/g, "Ы");
        y = y.replace(/R/g, "Р");
        y = y.replace(/S/g, "С");
        y = y.replace(/T/g, "Т");
        y = y.replace(/U/g, "У");
        y = y.replace(/V/g, "В");
        y = y.replace(/W/g, "Ю");
        y = y.replace(/X/g, "Щ");
        y = y.replace(/Y/g, "Й");
        y = y.replace(/Z/g, "З");
        y = y.replace(/ee/g, "ё");
        y = y.replace(/ss/g, "ш");
        y = y.replace(/ar/g, "я");
        y = y.replace(/ch/g, "ч");
        y = y.replace(/a/g, "а");
        y = y.replace(/b/g, "б");
        y = y.replace(/c/g, "ц");
        y = y.replace(/d/g, "д");
        y = y.replace(/e/g, "е");
        y = y.replace(/f/g, "ф");
        y = y.replace(/g/g, "г");
        y = y.replace(/h/g, "х");
        y = y.replace(/i/g, "и");
        y = y.replace(/j/g, "ж");
        y = y.replace(/k/g, "к");
        y = y.replace(/l/g, "л");
        y = y.replace(/m/g, "м");
        y = y.replace(/n/g, "н");
        y = y.replace(/o/g, "о");
        y = y.replace(/p/g, "п");
        y = y.replace(/q/g, "ы");
        y = y.replace(/r/g, "р");
        y = y.replace(/s/g, "с");
        y = y.replace(/t/g, "т");
        y = y.replace(/u/g, "у");
        y = y.replace(/v/g, "в");
        y = y.replace(/w/g, "ю");
        y = y.replace(/x/g, "щ");
        y = y.replace(/y/g, "й");
        y = y.replace(/z/g, "з");
		}
	else if (document.getElementById("mode2").checked) //Cyrillic >> English
		{
        y = y.replace(/Ё/g, "Ee");
        y = y.replace(/Ш/g, "Ss");
        y = y.replace(/Я/g, "Ar");
        y = y.replace(/Ч/g, "Ch");
        y = y.replace(/А/g, "A");
        y = y.replace(/Б/g, "B");
        y = y.replace(/Ц/g, "C");
        y = y.replace(/Д/g, "D");
        y = y.replace(/Е/g, "E");
        y = y.replace(/Ф/g, "F");
        y = y.replace(/Г/g, "G");
        y = y.replace(/Х/g, "H");
        y = y.replace(/И/g, "I");
        y = y.replace(/Ж/g, "J");
        y = y.replace(/К/g, "K");
        y = y.replace(/Л/g, "L");
        y = y.replace(/М/g, "M");
        y = y.replace(/Н/g, "N");
        y = y.replace(/О/g, "O");
        y = y.replace(/П/g, "P");
        y = y.replace(/Ы/g, "Q");
        y = y.replace(/Р/g, "R");
        y = y.replace(/С/g, "S");
        y = y.replace(/Т/g, "T");
        y = y.replace(/У/g, "U");
        y = y.replace(/В/g, "V");
        y = y.replace(/Ю/g, "W");
        y = y.replace(/Щ/g, "X");
        y = y.replace(/Й/g, "Y");
        y = y.replace(/З/g, "Z");
        y = y.replace(/ё/g, "ee");
        y = y.replace(/ш/g, "ss");
        y = y.replace(/я/g, "ar");
        y = y.replace(/ч/g, "ch");
        y = y.replace(/а/g, "a");
        y = y.replace(/б/g, "b");
        y = y.replace(/ц/g, "c");
        y = y.replace(/д/g, "d");
        y = y.replace(/е/g, "e");
        y = y.replace(/ф/g, "f");
        y = y.replace(/г/g, "g");
        y = y.replace(/х/g, "h");
        y = y.replace(/и/g, "i");
        y = y.replace(/ж/g, "j");
        y = y.replace(/к/g, "k");
        y = y.replace(/л/g, "l");
        y = y.replace(/м/g, "m");
        y = y.replace(/н/g, "n");
        y = y.replace(/о/g, "o");
        y = y.replace(/п/g, "p");
        y = y.replace(/ы/g, "q");
        y = y.replace(/р/g, "r");
        y = y.replace(/с/g, "s");
        y = y.replace(/т/g, "t");
        y = y.replace(/у/g, "u");
        y = y.replace(/в/g, "v");
        y = y.replace(/ю/g, "w");
        y = y.replace(/щ/g, "x");
        y = y.replace(/й/g, "y");
        y = y.replace(/з/g, "z");
		}
	else
		{
		alert("没有选中模式");
		}
	document.getElementById("out").value = y;
	}
	function disp_capitalize()
	//大写
	{
    var a = document.getElementById("out").value;
    b = a;
    b = b.replace(/a/g, "A");
    b = b.replace(/b/g, "B");
    b = b.replace(/c/g, "C");
    b = b.replace(/d/g, "D");
    b = b.replace(/e/g, "E");
    b = b.replace(/f/g, "F");
    b = b.replace(/g/g, "G");
    b = b.replace(/h/g, "H");
    b = b.replace(/i/g, "I");
    b = b.replace(/j/g, "J");
    b = b.replace(/k/g, "K");
    b = b.replace(/l/g, "L");
    b = b.replace(/m/g, "M");
    b = b.replace(/n/g, "N");
    b = b.replace(/o/g, "O");
    b = b.replace(/p/g, "P");
    b = b.replace(/q/g, "Q");
    b = b.replace(/r/g, "R");
    b = b.replace(/s/g, "S");
    b = b.replace(/t/g, "T");
    b = b.replace(/u/g, "U");
    b = b.replace(/v/g, "V");
    b = b.replace(/w/g, "W");
    b = b.replace(/x/g, "X");
    b = b.replace(/y/g, "Y");
    b = b.replace(/z/g, "Z");
    b = b.replace(/ё/g, "Ё");
    b = b.replace(/ш/g, "Ш");
    b = b.replace(/я/g, "Я");
    b = b.replace(/ч/g, "Ч");
    b = b.replace(/а/g, "А");
    b = b.replace(/б/g, "Б");
    b = b.replace(/ц/g, "Ц");
    b = b.replace(/д/g, "Д");
    b = b.replace(/е/g, "Е");
    b = b.replace(/ф/g, "Ф");
    b = b.replace(/г/g, "Г");
    b = b.replace(/х/g, "Х");
    b = b.replace(/и/g, "И");
    b = b.replace(/ж/g, "Ж");
    b = b.replace(/к/g, "К");
    b = b.replace(/л/g, "Л");
    b = b.replace(/м/g, "М");
    b = b.replace(/н/g, "Н");
    b = b.replace(/о/g, "О");
    b = b.replace(/п/g, "П");
    b = b.replace(/ы/g, "Ы");
    b = b.replace(/р/g, "Р");
    b = b.replace(/с/g, "С");
    b = b.replace(/т/g, "Т");
    b = b.replace(/у/g, "У");
    b = b.replace(/в/g, "В");
    b = b.replace(/ю/g, "Ю");
    b = b.replace(/щ/g, "Щ");
    b = b.replace(/й/g, "Й");
    b = b.replace(/з/g, "З");
	document.getElementById("out").value = b;
	}
</script>

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

			<h3>English ⇔ Cyrillic 在线翻译器</h3>
			<p>
			<input type="button" onclick="disp_translate()" value="点我翻译" style="font-size:16" /> &nbsp;
   		 	<input type="button" onclick="disp_capitalize()" value="点我使翻译结果大写" style="font-size:16" />
			</p>
			<p>
			翻译模式：<br>
			<input type="radio" name="Mode" id="mode1" checked value="engtocyr" />
			English >> Cyrillic<br>
			<input type="radio" name="Mode" id="mode2" value="cyrtoeng" />
			Cyrillic >> English
			</p>
	
   			<!-- Input -->
			<p>
			<textarea rows="6" cols="35" id="in" style="resize:none;font-family:Arial;font-size:16"></textarea></p>
			<!-- Output -->
			<p>
			<textarea disabled rows="6" cols="35" id="out" style="resize:none;font-family:Arial;font-size:16"></textarea></p>
			
			<p><a href="https://xiaotaoci.github.io/html/hanzi.html">🌟 点我进入「English ⇔ Hanzi 在线翻译器」</a></p>	
			<p><a href="https://xiaotaoci.github.io/html/diamondo.html">🌟 点我进入「Diamondo 在线翻译器」</a></p>	
			
		</div>
	</div>
</div>
